*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    min-height: 100vh;
    background-image: url(../Icons/svg.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 80px;
}

/* HEADER */
.header{
    height: 80px;
    background-color: #042859;
    font-size: 1.5rem;
    width: 100vw;
}

.btn-menu{
    font-size: 1.5rem;
}

/* ESTILOS A LOS A */
a,
a:hover,
a:link{
    text-decoration: none;
    font-weight: 500;
    margin: 0;
}

/* NAVBAR */
.navbar{
    width: 250px;
    height: 100vh;
    margin-left: -300px;
    transition: 0.4s;
}
.nav-item{
    margin-bottom: 2rem;
    padding-left: 1rem;
}
.icon-menu{
    width: 24px;
    height: 24px;
}

.nav-link{
    font-size: 1.25rem;
    color: #042859 ;
    font-weight: 700 ;
    padding: 0;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover{
    background-color: #ffffff26;
    
}
.active{
    margin-left: 0;
}



/* TODOS LOS H1 DE CADA PAGINA */
.title-pag{
    color: #042859;
    font-size: 4rem;
}



/* FOOTER */
.footer-bootstrap{
    background-color: #042859;
    height: 80px;
}

.div-foot{
    color: white;
}
.text-footer{
    margin:0;
}
.footer-icons{
    width: 35px;
}





/* SABIAS QUE  */

/* NOSOTROS */

.title-card{
    font-size: 3rem;
    color: #042859;
}
.img-card{
    width: 70px;
}

.nosotros-p-card{
    color: #042859;
}


/* CONTACTO */

.icon-contact{
    width: 35px;
}

.title-card-contact{
    font-size: 1.2rem;
    color: #042859;
}