*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    min-height: 100vh;
    background-image: url(../Icons/svg.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 80px;
}

/* HEADER */
.header{
    height: 80px;
    background-color: #042859;
    font-size: 1.5rem;
    width: 100vw;
    z-index: 1100;
}

.btn-menu{
    font-size: 1.5rem;
}

/* ESTILOS A LOS A */
a,
a:hover,
a:link{
    text-decoration: none;
    font-weight: 500;
    margin: 0;
}

/* NAVBAR */
.navbar{
    width: 250px;
    height: 100vh;
    margin-left: -300px;
    transition: 0.4s;
    z-index: 1000;
}
.nav-item{
    margin-bottom: 2rem;
    padding-left: 1rem;
}
.icon-menu{
    width: 24px;
    height: 24px;
}

.nav-link{
    font-size: 1.25rem;
    color: #042859 ;
    font-weight: 700 ;
    padding: 0;
}
.nav-link:active,
.nav-link:focus,
.nav-link:hover{
    background-color: #ffffff26;
    
}
.active{
    margin-left: 0;
}



/* TODOS LOS H1 DE CADA PAGINA */
.title-pag{
    color: #042859;
    font-size: 4rem;
}



/* FOOTER */
.footer-bootstrap{
    background-color: #042859;
    height: 80px;
}

.div-foot{
    color: white;
}
.text-footer{
    margin:0;
}
.footer-icons{
    width: 35px;
}

/*HOME*/
.carousel-title{
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    text-align:left;
    font-size: 3rem;
    
    
}

#carousel-title{
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
    text-align:left;
    font-size: 3rem;
    color: #042859;
}
.title-line{
    line-height:10px;
}

/* SABIAS QUE */

.p-sabias-que{
    color: #042859;
}

/* NOSOTROS */

.title-card{
    font-size: 3rem;
    color: #042859;
}
.img-card{
    width: 70px;
}

.nosotros-p-card{
    color: #042859;
}


/* CONTACTO */

.icon-contact{
    width: 2.188rem;
}

.title-card-contact{
    font-size: 1.2rem;
    color: #042859;
}

/* SEGUROS */
.main-seguros{
    margin-bottom: 4rem ;
}
.card{
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 220px;
}

.icon-seguro{
    padding-top: 1.5rem;
    width: 80px !important;
}
.card-style{
    width: 30%;
}

.p-seguros{
    color: #042859;
}

.card-title{
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
    color: #042859;
}

.img-seguro{
    width: 7.5rem;
}

.btn-seguros{
    align-self: center;
    background-color: #042859;
    color: white;
    font-weight: bold !important;
    margin: auto;
    margin-bottom: 3rem !important;
}

.respo{
    font-size: 3rem;
}

.civil{
    font-size: 2.7rem;
}

.responsive-picture{
    margin-left: 3rem;
}

@media screen and (max-width: 769px){
    .responsive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        margin: auto;
        /* width: 20rem; */
    }
    
    
    .contenedor{
        width: 80%;
        margin: auto !important;
        padding: 0;
        margin: 0;
    }
    
}

@media screen and (max-width: 576px){
    .responsive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    
    .contenedor{
        margin: auto !important;
        padding: 0;
        margin: 0;
    }
    
}